#[SYSD DRIVER][tct_hela][driver] Begin added by jinggao.zhou for  Online Quality OLQ-5 on  2022-06-29
#[SYSD DRIVER][tct_hera][driver] Begin added by jinggao.zhou depend on CONFIG_TKPERF
CONFIG_TKPERF=y
CONFIG_TKPERF_DEBUG=y
CONFIG_HELAEYE_BSP_OOM=y
CONFIG_HELAEYE_BSP_HUNG_TASK=y
CONFIG_HELAEYE_BSP_BOOT_ON=y
CONFIG_HELAEYE_BSP_TP_ON=y
CONFIG_HELAEYE_BSP_MODEMCRASH_ON=y
CONFIG_HELAEYE_BSP_EMMC_UFS_SD_ON=y
CONFIG_HELAEYE_BSP_SENSOR_ON=y
CONFIG_HELAEYE_BSP_CHARGER_ON=y
CONFIG_HELAEYE_BSP_LCD_ON=y
CONFIG_HELAEYE_BSP_AUDIO_ON=y
CONFIG_HELAEYE_BSP_THERMAL_ON=y
CONFIG_HELAEYE_BSP_TMO24H_TCP_RETRAN_ON=y
CONFIG_HELAEYE_BSP_SIMLOCK_ON=n
CONFIG_HELAEYE_BSP_ABFOTA_ON=y
#[SYSD DRIVER][tct_hela][driver] end by jinggao.zhou for  Online Quality OLQ-5 on  2022-06-29
