/* Copyright (c) 2014, The Linux Foundation. All rights reserved.
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 and
* only version 2 as published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/


/*begin, fps, fingerprint config*/
&spi1{
	fingerprint@0 {
		compatible = "mediatek,fingerprint-spi-dev";
		reg = <0>;
		spi-max-frequency = <12000000>;
		netlink-event = <31>;
		status = "okay";
	};
};

&odm {
    fingerprint_pinctrl: fingerprint_pinctrl {
        compatible = "mediatek,fingerprint-pinctrl";
    };

    gpio_fp_ldo_en: gpio_fp_ldo_en {
        compatible = "mediatek,gpio_fp_ldo_en";
        gpio-power = <177>;
        gpio-power-std = <&pio 177 0x0>;
    };

    fingerprint_power: fingerprint_power {
        compatible = "mediatek,fingerprint-power";
        finger_vio28-supply = <&mt_pmic_vcn28_ldo_reg>;
        pinctrl_power = <1>;
        focaltech_info = "FT9391:FOCAL:Kerr:AYB0000239C1";
        chipone_info = "ICNF7312:ICNF:Sunwin:AYB0000244C1";
    };
    fps_fpsensor_eint: fps_fpsensor_eint {
        compatible = "mediatek,fpsensor-eint";
        interrupt-parent = <&pio>;
        interrupts = <7 IRQ_TYPE_NONE 7 0>;
        debounce = <7 0>;
        status = "okay";
    };
    fps_focaltech_eint: fps_focaltech_eint {
        compatible = "mediatek,focaltech-eint";
        interrupt-parent = <&pio>;
        interrupts = <7 IRQ_TYPE_EDGE_RISING 7 0>;
        debounce = <7 0>;
        status = "okay";
    };
};

&fingerprint_pinctrl{
    pinctrl-names = 
    "fpsensor_power_low", "fpsensor_power_high",
    "fpsensor_rst_low", "fpsensor_rst_high",
    "fpsensor_eint_low",
    "fpsensor_power2_low", "fpsensor_power2_high";
    pinctrl-0 = <&fpsensor_power_low>;
    pinctrl-1 = <&fpsensor_power_high>;
    pinctrl-2 = <&fpsensor_rst_low>;
    pinctrl-3 = <&fpsensor_rst_high>;
    pinctrl-4 = <&fpsensor_eint_low>;
    pinctrl-5 = <&fpsensor_power2_low>;
    pinctrl-6 = <&fpsensor_power2_high>;
    status = "okay";
};

&pio {
    fpsensor_power_low: fpsensor_power_low {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO166__FUNC_GPIO166>;
            slew-rate = <1>;
            output-low;
        };
    };
    fpsensor_power_high: fpsensor_power_high {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO166__FUNC_GPIO166>;
            slew-rate = <1>;
            output-high;
        };
    };
    fpsensor_rst_low: fpsensor_rst_low {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO22__FUNC_GPIO22>;
            slew-rate = <1>;
            output-low;
        };
    };
    fpsensor_rst_high: fpsensor_rst_high {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO22__FUNC_GPIO22>;
            slew-rate = <1>;
            output-high;
        };
    };
    fpsensor_eint_low: fpsensor_eint_low {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO7__FUNC_GPIO7>;
            slew-rate = <0>;
            //bias-disable;
            bias-pull-down = <00>;
        };
    };
    fpsensor_power2_low: fpsensor_power2_low {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO19__FUNC_GPIO19>;
            slew-rate = <1>;
            output-low;
        };
    };
    fpsensor_power2_high: fpsensor_power2_high {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO19__FUNC_GPIO19>;
            slew-rate = <1>;
            output-high;
        };
    };
};

/*end, fps, fingerprint config*/
