config TCT_2ND_MC3416
	bool "TCT_2ND_MC3416 for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          TCT_2ND_MC3416 Accelerometer.

