#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_MTK_SEOUL_ATT_FT5446
    bool "Focaltech Touchscreen"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
      
config TOUCHSCREEN_MTK_SEOUL_ATT_FT5446
    string "Focaltech ts directory name"
    default "focaltech_touch"
    depends on TOUCHSCREEN_FTS
    
